{% extends 'base.html.twig' %}

{% block title %}Edit Oferta{% endblock %}

{% block body %}
    <h1 class="container mb-5">Editar Oferta</h1>

    {{ include('oferta/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
