{% extends 'base.html.twig' %}

{% block title %}New Oferta{% endblock %}

{% block body %}
    <h1 class="container mb-5">Crear oferta</h1>
    {{ include('oferta/_form.html.twig') }}

{% endblock %}
