{% extends 'base.html.twig' %}

{% block title %}New Candidat{% endblock %}

{% block body %}
    <h1 class="container mb-5">Verificación de usuario</h1>

    {{ include('candidat/_form.html.twig') }}
{% endblock %}
