{% extends 'base.html.twig' %}

{% block title %}New Empresa{% endblock %}

{% block body %}
    <h1 class="container mb-5">Verificación como empresa</h1>

    {{ include('empresa/_form.html.twig') }}

{% endblock %}
