{% extends 'base.html.twig' %}

{% block title %}Pablo tiene el pero PC del mundo no puedo ni instalar el encore el muy cara de culo
{% endblock %}

{% block body %}


	<div id="app"></div>
{% endblock %}
